<div class="container">

  <form class="box" [formGroup]="formBook" (ngSubmit)="createBook()" id="form-create" hidden>
    <table>
      <tr>
        <th colspan="2"><h1 id="header">Create new book</h1></th>
      </tr>
      <tr>
        <th><label for="title" class="form-label">Name:</label></th>
        <td><input class="form-control" id="title" formControlName="title" type="text"></td>
        <td>
          <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
            <div *ngIf="title?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th><label for="author" class="form-label">Author:</label></th>
        <td><input class="form-control" id="author" formControlName="author" type="text"></td>
        <td>
          <div *ngIf="author?.invalid && (author?.dirty || author?.touched)">
            <div *ngIf="author?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th><label for="description" class="form-label">Description:</label></th>
        <td><input class="form-control" id="description" formControlName="description" type="text">
        <td>
          <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            <div *ngIf="description?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" id="center">
          <button type="submit" class="btn btn-primary" id="submit">Create</button>
        </td>
      </tr>
    </table>
  </form>

  <form class="box" [formGroup]="formBook" (ngSubmit)="updateBook()" id="form-update" hidden>
    <table>
      <tr>
        <th colspan="2"><h1>Update book</h1></th>
      </tr>
      <tr>
        <th><label for="title1" class="form-label">Name:</label></th>
        <td><input class="form-control" id="title1" formControlName="title" type="text"></td>
        <td>
          <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
            <div *ngIf="title?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th><label for="author1" class="form-label">Author:</label></th>
        <td><input class="form-control" id="author1" formControlName="author" type="text"></td>
        <td>
          <div *ngIf="author?.invalid && (author?.dirty || author?.touched)">
            <div *ngIf="author?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th><label for="description1" class="form-label">Description:</label></th>
        <td><input class="form-control" id="description1" formControlName="description" type="text">
        <td>
          <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            <div *ngIf="description?.errors?.['required']">
              <p style="color: red">Not blank</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" id="center1">
          <button type="submit" class="btn btn-primary">Update</button>
        </td>
      </tr>
    </table>
  </form>
  <br>

  <h5 style="margin-left: 160px">Có {{books.length}} quyển sách</h5>
  <h1 (click)="getAllBooks()">List Books</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; index as i">
      <td> {{i + 1}} </td>
      <td>
        <a [routerLink]="['/detail', book.id]"><ins>{{book.title}}</ins></a>
      </td>
      <td>{{book.author}}</td>
      <td (click)="editBook(book.id)"><i class="fa-solid fa-pen-to-square"></i></td>
      <td (click)="deleteBook(book.id, book.title)"><i class="fa-solid fa-trash-can"></i></td>
    </tr>
    </tbody>
  </table>
</div>
<!--<router-outlet></router-outlet>-->
